## **SQL PROGAMMING**

**SQL Programming Questions**
1. Display a list of Sub Counties and their population and areas.
2. Sort the list of districts by total crop area (descending order).
3. Select only the Sub counties from the Moroto district, order them alphabetically and show their production of sorghum.
4. Compute the total Maize production per District.
5. Compute the number of Sub counties where Maize is produced and the total Maize production per District.
6. Compute the overall Crop area in all Sub counties where population is over 20000.
7. Sort the Maize production in descending order by Districts, only taking into account Sub counties where Maize area is larger than Sorghum area, and display the number of Sub counties per district matching that criteria.

**Dataset Description**
This dataset contains yield and population per subcounty.  The dataset for the above questions can be found here. [https://drive.google.com/a/moringaschool.com/file/d/1pWXDvs33OoULTH4kdzhGTUxJmp0dSgZq/view?usp=sharing]

The glossary for this table is as follows:

* POP: total population for the subcounty
* S_Yield_Ha: average yield for sorghum for the subcounty (Kg/Ha)
* M_Yield_Ha: average yield for maize for the subcounty (Kg/Ha)
* Crop_Area_Ha: total crop area for the subcounty (Ha)
* S_Area_Ha: total sorghum crop area for the subcounty (Ha)
* M_Area_Ha: total maize crop area for the subcounty (Ha)
* S_Prod_Tot: total productivity for the sorghum for the subcounty (Kg)
* M_Prod_Tot: total productivity for the maize for the subcounty (Kg)

# **1.1 Connecting to the sql Database**

In [1]:
# First load the sql extension into our environment
%load_ext sql
# Then connect to our in memory sqlite database
%sql sqlite://

'Connected: @None'

# **1.2 Importing Data from the CSV file**

In [2]:
# First import the python csv library, this will enable the csv file
# to be uploaded in the environment
import csv
#Second import the pandas library which is used for data manipulation in this notebook.
import pandas as pd

In [3]:
# Loading data from the existing csv file.
with open('/content/Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv', 'r') as f: # the path of the csv file
          Uganda = pd.read_csv(f, index_col = 0, encoding = 'utf-8') # tell pandas to use the row indexes as the row labels.
# Then push the  ugandam data into a new table within the current SQLite Database 
%sql DROP TABLE if EXISTS Uganda;
%sql PERSIST Uganda;

 * sqlite://
Done.
 * sqlite://

'Persisted uganda'

In [4]:
# Previewing the uganda table
%sql SELECT * FROM Uganda LIMIT 5;

 * sqlite://
Done.

[(263, 'KACHERI', 'KOTIDO', 17244, 1067176155, 'Y', 354.20741069999997, 1137.467019, 7023.533691, 6434.342449, 528.1242294, 2279091.779, 600723.8929),
 (264, 'KOTIDO', 'KOTIDO', 52771, 597575188, 'Y', 367.89052319999996, 1162.9966869999998, 13587.990759999999, 12455.59264, 824.7670809, 4582294.492, 959201.3825),
 (265, 'KOTIDO TOWN COUNCIL', 'KOTIDO', 27389, 23972401, 'Y', 369.3141771, 1167.005832, 1656.5318550000002, 1520.322052, 8.561643817, 561476.4874, 9991.488268000001),
 (266, 'NAKAPERIMORU', 'KOTIDO', 38775, 419111591, 'Y', 283.3245689, 852.3665784, 7087.823334000001, 6761.488901000001, 45.72171184, 1915695.928, 38971.65908),
 (267, 'PANYANGARA', 'KOTIDO', 65704, 880955930, 'Y', 373.8369255, 1283.859882, 10398.24939, 10111.198129999999, 172.6119139, 3779939.224, 221609.5114)]

# **1.3 QUESTIONS**

# **1.3.1 Display a list of Sub Counties and their population and areas.**

In [5]:
%%sql
SELECT SUBCOUNTY_NAME, POP, Area FROM Uganda;

 * sqlite://
Done.

[('KACHERI', 17244, 1067176155),
 ('KOTIDO', 52771, 597575188),
 ('KOTIDO TOWN COUNCIL', 27389, 23972401),
 ('NAKAPERIMORU', 38775, 419111591),
 ('PANYANGARA', 65704, 880955930),
 ('RENGEN', 41273, 652744859),
 ('KAABONG  EAST', 42221, 60801942),
 ('KAABONG TOWN COUNCIL', 38857, 13071455),
 ('KAABONG WEST', 41454, 67612362),
 ('KALAPATA', 99203, 223116860),
 ('KAMION', 60070, 1199409465),
 ('KAPEDO', 33951, 304557831),
 ('KATHILE', 56870, 228457417),
 ('KAWALAKOL', 37691, 1742041261),
 ('LOBALANGIT', 22907, 302572789),
 ('LODIKO', 31820, 397700845),
 ('LOLELIA', 100919, 1069331387),
 ('LOYORO', 16608, 1330019236),
 ('NAPORE (KARENGA)', 20394, 309577387),
 ('SIDOK', 24092, 125330583),
 ('ABIM', 14377, 188613057),
 ('ABIM TOWN COUNCIL', 11489, 115941152),
 ('ALEREK', 12573, 1255760525),
 ('LOTUKEI', 18641, 191684465),
 ('MORULEM', 16834, 250364895),
 ('KARITA', 45015, 658008801),
 ('LOROO', 22541, 371970302),
 ('AMUDAT', 30181, 596393139),
 ('AMUDAT TOWN COUNCIL', 4053, 17207110),
 ('KATIKEKILE', 11772, 277451997),
 ('NADUNGET', 42115, 596023780),
 ('TAPAC', 21999, 622266516),
 ('NORTHERN DIVISION', 7161, 2738777),
 ('SOUTHERN DIVISION', 3272, 2121209),
 ('LOREGAE', 26644, 928683431),
 ('NAKAPIRIPIRIT TOWN COUNCIL', 1418, 4673094),
 ('NAMALU', 25905, 553067364),
 ('KAKOMONGOLE', 15960, 312709097),
 ('LOLACHAT', 22801, 642401705),
 ('LORENGEDWAT', 9929, 435714604),
 ('NABILATUK', 27534, 499776866),
 ('IRIIRI', 46979, 1030623258),
 ('LOPEEI', 18815, 790782350),
 ('LORENGECORA', 2503, 118997955),
 ('LOTOME', 17834, 125857565),
 ('MATANY', 29495, 338252511),
 ('NAPAK TOWN COUNCIL', 8010, 150906375),
 ('NGOLERIET', 20790, 158887552),
 ('NYAKWAE', 16470, 769609687),
 ('LOKOPO', 23200, 1794470536),
 ('RUPA', 41493, 2069554899),
 ('MORUITA', 16588, 839293722)]

# **1.3.2 Sort the list of districts by total crop area (descending order).**

In [7]:
# Previewing the dataset
%sql SELECT * FROM Uganda LIMIT 5;

 * sqlite://
Done.

[(263, 'KACHERI', 'KOTIDO', 17244, 1067176155, 'Y', 354.20741069999997, 1137.467019, 7023.533691, 6434.342449, 528.1242294, 2279091.779, 600723.8929),
 (264, 'KOTIDO', 'KOTIDO', 52771, 597575188, 'Y', 367.89052319999996, 1162.9966869999998, 13587.990759999999, 12455.59264, 824.7670809, 4582294.492, 959201.3825),
 (265, 'KOTIDO TOWN COUNCIL', 'KOTIDO', 27389, 23972401, 'Y', 369.3141771, 1167.005832, 1656.5318550000002, 1520.322052, 8.561643817, 561476.4874, 9991.488268000001),
 (266, 'NAKAPERIMORU', 'KOTIDO', 38775, 419111591, 'Y', 283.3245689, 852.3665784, 7087.823334000001, 6761.488901000001, 45.72171184, 1915695.928, 38971.65908),
 (267, 'PANYANGARA', 'KOTIDO', 65704, 880955930, 'Y', 373.8369255, 1283.859882, 10398.24939, 10111.198129999999, 172.6119139, 3779939.224, 221609.5114)]

In [8]:
# using the ORDER BY function this task will be to be carried out
%%sql
SELECT DISTRICT_NAME, Area FROM Uganda
ORDER BY Area DESC;

 * sqlite://
Done.

[('MOROTO', 2069554899),
 ('NAPAK', 1794470536),
 ('KAABONG', 1742041261),
 ('KAABONG', 1330019236),
 ('ABIM', 1255760525),
 ('KAABONG', 1199409465),
 ('KAABONG', 1069331387),
 ('KOTIDO', 1067176155),
 ('NAPAK', 1030623258),
 ('NAKAPIRIPIRIT', 928683431),
 ('KOTIDO', 880955930),
 ('NAKAPIRIPIRIT', 839293722),
 ('NAPAK', 790782350),
 ('ABIM', 769609687),
 ('AMUDAT', 658008801),
 ('KOTIDO', 652744859),
 ('NAKAPIRIPIRIT', 642401705),
 ('MOROTO', 622266516),
 ('KOTIDO', 597575188),
 ('AMUDAT', 596393139),
 ('MOROTO', 596023780),
 ('NAKAPIRIPIRIT', 553067364),
 ('NAKAPIRIPIRIT', 499776866),
 ('NAKAPIRIPIRIT', 435714604),
 ('KOTIDO', 419111591),
 ('KAABONG', 397700845),
 ('AMUDAT', 371970302),
 ('NAPAK', 338252511),
 ('NAKAPIRIPIRIT', 312709097),
 ('KAABONG', 309577387),
 ('KAABONG', 304557831),
 ('KAABONG', 302572789),
 ('MOROTO', 277451997),
 ('ABIM', 250364895),
 ('KAABONG', 228457417),
 ('KAABONG', 223116860),
 ('ABIM', 191684465),
 ('ABIM', 188613057),
 ('NAPAK', 158887552),
 ('NAPAK', 150906375),
 ('NAPAK', 125857565),
 ('KAABONG', 125330583),
 ('NAPAK', 118997955),
 ('ABIM', 115941152),
 ('KAABONG', 67612362),
 ('KAABONG', 60801942),
 ('KOTIDO', 23972401),
 ('AMUDAT', 17207110),
 ('KAABONG', 13071455),
 ('NAKAPIRIPIRIT', 4673094),
 ('MOROTO', 2738777),
 ('MOROTO', 2121209)]

# **1.3.3 Select only the Sub counties from the Moroto district, order them alphabetically and show their production of sorghum.**

In [11]:
# Previewing the dataset
%sql SELECT * FROM Uganda LIMIT 5;

 * sqlite://
Done.

[(263, 'KACHERI', 'KOTIDO', 17244, 1067176155, 'Y', 354.20741069999997, 1137.467019, 7023.533691, 6434.342449, 528.1242294, 2279091.779, 600723.8929),
 (264, 'KOTIDO', 'KOTIDO', 52771, 597575188, 'Y', 367.89052319999996, 1162.9966869999998, 13587.990759999999, 12455.59264, 824.7670809, 4582294.492, 959201.3825),
 (265, 'KOTIDO TOWN COUNCIL', 'KOTIDO', 27389, 23972401, 'Y', 369.3141771, 1167.005832, 1656.5318550000002, 1520.322052, 8.561643817, 561476.4874, 9991.488268000001),
 (266, 'NAKAPERIMORU', 'KOTIDO', 38775, 419111591, 'Y', 283.3245689, 852.3665784, 7087.823334000001, 6761.488901000001, 45.72171184, 1915695.928, 38971.65908),
 (267, 'PANYANGARA', 'KOTIDO', 65704, 880955930, 'Y', 373.8369255, 1283.859882, 10398.24939, 10111.198129999999, 172.6119139, 3779939.224, 221609.5114)]

In [14]:
%%sql
SELECT SUBCOUNTY_NAME, S_Prod_Tot FROM Uganda
WHERE DISTRICT_NAME = 'MOROTO' ORDER BY SUBCOUNTY_NAME ASC;

 * sqlite://
Done.

[('KATIKEKILE', 9379.029413),
 ('NADUNGET', 321630.539),
 ('NORTHERN DIVISION', 17.28125956),
 ('RUPA', 227298.5184),
 ('SOUTHERN DIVISION', 19.67486547),
 ('TAPAC', 49251.66081)]

# **1.3.4 Compute the total Maize production per District.**

In [15]:
# Previewing the dataset
%sql SELECT * FROM Uganda LIMIT 5;

 * sqlite://
Done.

[(263, 'KACHERI', 'KOTIDO', 17244, 1067176155, 'Y', 354.20741069999997, 1137.467019, 7023.533691, 6434.342449, 528.1242294, 2279091.779, 600723.8929),
 (264, 'KOTIDO', 'KOTIDO', 52771, 597575188, 'Y', 367.89052319999996, 1162.9966869999998, 13587.990759999999, 12455.59264, 824.7670809, 4582294.492, 959201.3825),
 (265, 'KOTIDO TOWN COUNCIL', 'KOTIDO', 27389, 23972401, 'Y', 369.3141771, 1167.005832, 1656.5318550000002, 1520.322052, 8.561643817, 561476.4874, 9991.488268000001),
 (266, 'NAKAPERIMORU', 'KOTIDO', 38775, 419111591, 'Y', 283.3245689, 852.3665784, 7087.823334000001, 6761.488901000001, 45.72171184, 1915695.928, 38971.65908),
 (267, 'PANYANGARA', 'KOTIDO', 65704, 880955930, 'Y', 373.8369255, 1283.859882, 10398.24939, 10111.198129999999, 172.6119139, 3779939.224, 221609.5114)]

In [20]:
%%sql
SELECT DISTRICT_NAME, M_Prod_Tot FROM Uganda
GROUP BY  DISTRICT_NAME
ORDER BY M_Prod_Tot ASC;

 * sqlite://
Done.

[('AMUDAT', 2081.356199),
 ('KAABONG', 136265.6835),
 ('MOROTO', 155838.875),
 ('KOTIDO', 179681.139),
 ('ABIM', 258010.2444),
 ('NAPAK', 414509.6206),
 ('NAKAPIRIPIRIT', 1198586.875)]

# **1.3.5 Compute the number of Sub counties where Maize is produced and the total Maize production per District.**

In [22]:
# Previewing the dataset
%sql SELECT * FROM Uganda LIMIT 5;

 * sqlite://
Done.

[(263, 'KACHERI', 'KOTIDO', 17244, 1067176155, 'Y', 354.20741069999997, 1137.467019, 7023.533691, 6434.342449, 528.1242294, 2279091.779, 600723.8929),
 (264, 'KOTIDO', 'KOTIDO', 52771, 597575188, 'Y', 367.89052319999996, 1162.9966869999998, 13587.990759999999, 12455.59264, 824.7670809, 4582294.492, 959201.3825),
 (265, 'KOTIDO TOWN COUNCIL', 'KOTIDO', 27389, 23972401, 'Y', 369.3141771, 1167.005832, 1656.5318550000002, 1520.322052, 8.561643817, 561476.4874, 9991.488268000001),
 (266, 'NAKAPERIMORU', 'KOTIDO', 38775, 419111591, 'Y', 283.3245689, 852.3665784, 7087.823334000001, 6761.488901000001, 45.72171184, 1915695.928, 38971.65908),
 (267, 'PANYANGARA', 'KOTIDO', 65704, 880955930, 'Y', 373.8369255, 1283.859882, 10398.24939, 10111.198129999999, 172.6119139, 3779939.224, 221609.5114)]

**Number of subcounties where maize is produced**

In [23]:
%%sql
SELECT COUNT(SUBCOUNTY_NAME) FROM Uganda
WHERE M_Prod_Tot > 0;

 * sqlite://
Done.

[(51,)]

Total maize production per district

In [ ]:
%%sql
SELECT DISTRICT_NAME, M_Prod_Tot FROM Uganda
GROUP BY  DISTRICT_NAME
ORDER BY M_Prod_Tot ASC;

# **1.3.6 Compute the overall Crop area in all Sub counties where population is over 20000.**

In [24]:
# Previewing the dataset
%sql SELECT * FROM Uganda LIMIT 5;

 * sqlite://
Done.

[(263, 'KACHERI', 'KOTIDO', 17244, 1067176155, 'Y', 354.20741069999997, 1137.467019, 7023.533691, 6434.342449, 528.1242294, 2279091.779, 600723.8929),
 (264, 'KOTIDO', 'KOTIDO', 52771, 597575188, 'Y', 367.89052319999996, 1162.9966869999998, 13587.990759999999, 12455.59264, 824.7670809, 4582294.492, 959201.3825),
 (265, 'KOTIDO TOWN COUNCIL', 'KOTIDO', 27389, 23972401, 'Y', 369.3141771, 1167.005832, 1656.5318550000002, 1520.322052, 8.561643817, 561476.4874, 9991.488268000001),
 (266, 'NAKAPERIMORU', 'KOTIDO', 38775, 419111591, 'Y', 283.3245689, 852.3665784, 7087.823334000001, 6761.488901000001, 45.72171184, 1915695.928, 38971.65908),
 (267, 'PANYANGARA', 'KOTIDO', 65704, 880955930, 'Y', 373.8369255, 1283.859882, 10398.24939, 10111.198129999999, 172.6119139, 3779939.224, 221609.5114)]

In [26]:
%%sql
SELECT AVG(Crop_Area_Ha) FROM Uganda
WHERE POP > 20000;

 * sqlite://
Done.

[(3756.652817353124,)]

# **1.3.7 Sort the Maize production in descending order by Districts, only taking into account Sub counties where Maize area is larger than Sorghum area, and display the number of Sub counties per district matching that criteria.**

In [27]:
# Previewing the dataset
%sql SELECT * FROM Uganda LIMIT 5;

 * sqlite://
Done.

[(263, 'KACHERI', 'KOTIDO', 17244, 1067176155, 'Y', 354.20741069999997, 1137.467019, 7023.533691, 6434.342449, 528.1242294, 2279091.779, 600723.8929),
 (264, 'KOTIDO', 'KOTIDO', 52771, 597575188, 'Y', 367.89052319999996, 1162.9966869999998, 13587.990759999999, 12455.59264, 824.7670809, 4582294.492, 959201.3825),
 (265, 'KOTIDO TOWN COUNCIL', 'KOTIDO', 27389, 23972401, 'Y', 369.3141771, 1167.005832, 1656.5318550000002, 1520.322052, 8.561643817, 561476.4874, 9991.488268000001),
 (266, 'NAKAPERIMORU', 'KOTIDO', 38775, 419111591, 'Y', 283.3245689, 852.3665784, 7087.823334000001, 6761.488901000001, 45.72171184, 1915695.928, 38971.65908),
 (267, 'PANYANGARA', 'KOTIDO', 65704, 880955930, 'Y', 373.8369255, 1283.859882, 10398.24939, 10111.198129999999, 172.6119139, 3779939.224, 221609.5114)]

In [32]:
%%sql
SELECT DISTRICT_NAME, COUNT(SUBCOUNTY_NAME) FROM Uganda 
WHERE M_Yield_Ha > Uganda.S_Yield_Ha
GROUP BY DISTRICT_NAME
ORDER BY M_Prod_Tot DESC;

 * sqlite://
Done.

[('NAKAPIRIPIRIT', 8),
 ('NAPAK', 8),
 ('ABIM', 6),
 ('KOTIDO', 6),
 ('MOROTO', 5),
 ('KAABONG', 14),
 ('AMUDAT', 4)]